body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

header {
  background-image: url(/imgs/bgi.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1012px;
  margin-bottom: 8px;
}

.bgc {
  background-color: rgba(94, 93, 88, 0.6);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.search {
  padding-bottom: 5px;
  cursor: pointer;
}
.menu-search {
  display: flex;
  align-items: center;
}

.nav-logo1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

.nav-logo2 {
  color: #18cfab;
  font-weight: bold;
}

.logo-img {
  width: 58px;
  height: 67px;
  margin-right: 6px;
  margin-top: 26px;
  margin-bottom: 27px;
}

.nav-logo1::after {
  content: "H";
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  position: absolute;
  top: 35px;
  right: 151px;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-menu-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 118px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  margin-left: 21.09px;
  border-bottom: 2px solid rgba(94, 93, 88, 0.6);
}

.nav-menu-item:hover {
  color: #18cfab;
  cursor: pointer;
  border-bottom: 2px solid #18cfab;
}

.title1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 264px;
}

.title2 {
  color: #18cfab;
}

.main-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 24px;
}

.title-content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  text-align: center;
  color: #d4d4d4;
  margin-bottom: 134px;
}

.btns {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 364px;
}

.left-btn {
  width: 169px;
  height: 63px;
  background: #18cfab;
  margin-right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -5px white;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.right-btn {
  width: 168px;
  height: 63px;
  background: #00cbf6;
  margin-left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px -5px white;
  cursor: pointer;
}

.btn-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu {
  display: flex;
}

.menu-item {
  width: calc(100% / 4);
  height: 370px;
  background-color: #1c2a33;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu-item.dark {
  background-color: #18cfab;
}

.menu-item-title {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #18cfab;
}

.menu-item-title.light {
  color: #ffffff;
}

.services-title {
  text-align: center;
  margin-top: 83px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
  position: relative;
}

.services-title::before {
  content: "";
  width: 75.54px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  top: 56px;
  left: 536px;
}

.services-title::after {
  content: "";
  width: 75.54px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  top: 60px;
  left: 550px;
}

.services-menu {
  display: flex;
  justify-content: center;
  margin-top: 101px;
  margin-bottom: 23px;
}

.services-menu-item {
  background: #f8fcfe;
  width: 192px;
  text-align: center;
  padding: 26.5px 0px;
  border: 1px solid #f2f2f2;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #717171;
  cursor: pointer;
}

.services-menu-item:hover {
  border: 1px solid #18cfab;
}

.servis-content {
  justify-content: space-between;
  margin-bottom: 91px;
  display: none;
}

.servis-img {
  margin-right: 15px;
  width: 192px;
  height: 144px;
}

.service-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
}

.services-menu-item.active {
  background: #18cfab;
  color: white;
  position: relative;
  border: 0px;
}

.services-menu-item.active::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #18cfab;
  transform: rotate(45deg);
  top: 60px;
  left: 45%;
}

.servis-content.active-box {
  display: flex;
}

.purchase {
  padding-top: 126.78px;
  padding-bottom: 127px;
  background-image: url(/imgs/bgImg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.purchase-title {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
}

.purchase-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #d8d8d8;
  margin-top: 12.22px;
  margin-bottom: 67px;
}

.purchase-btn {
  width: 169px;
  height: 63px;
  background: #18cfab;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -5px white;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}
.our-amazing-work {
  background: #e9edef;
  padding-top: 95px;
  padding-bottom: 99px;
}

.work-title {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
  position: relative;
  margin-bottom: 97px;
}

.work-title::before {
  content: "";
  width: 80px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  top: 56px;
  left: 536px;
}

.work-title::after {
  content: "";
  width: 80px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  top: 60px;
  left: 550px;
}

.work-nav-bar {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 101px;
  margin-bottom: 71px;
}

.work-nav-item {
  text-align: center;
  padding: 26.5px 0px;
  border: 1px solid #dadada;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 31px;
  color: #717171;
  cursor: pointer;
  padding: 13px 15px 12px;
}

.work-nav-item:first-child {
  padding-left: 28px;
  padding-right: 28px;
}

.work-nav-item:hover {
  border: 1px solid #18cfab;
}

.img-box {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 285px 285px 285px 285px;
}

.img-item {
  position: relative;
  cursor: pointer;
  height: 206px;
}

.box-first-item {
  background-color: #e9edef;
  width: 285px;
  height: 204px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #18cfab;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

.img-item:hover .box-first-item {
  display: flex;
}

.first-item-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 42px;
  margin-top: 23.82px;
  text-transform: uppercase;
  color: #18cfab;
}

.first-item-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8a8a8a;
}

.img-in-box {
  width: 285px;
  height: 206px;
}

.img-in-box:hover.box-first-item {
  display: flex;
}

.hidden {
  display: none;
}

.invisible {
  display: none;
}

.work-btn {
  width: 169px;
  height: 63px;
  background: #18cfab;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  margin: 70px auto 0px;
  padding-left: 25px;
}

.work-btn-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 31px;
}

.news-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-top: 82px;
  margin-bottom: 100px;
  position: relative;
}

.news-title::before {
  content: "";
  width: 80px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  top: 56px;
  left: 536px;
}

.news-title::after {
  content: "";
  width: 80px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  top: 60px;
  left: 550px;
}

.news-box {
  display: grid;
  grid-template-columns: 263px 263px 263px 263px;
  column-gap: 35px;
  row-gap: 43.82px;
  margin-bottom: 128.81px;
}

.news-item-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #717171;
  padding-left: 15px;
}

.news-item-text1,
.news-item-text2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #777777;
  margin-top: -20px;
  display: inline-block;
}

.news-item-text1 {
  padding-left: 17px;
  position: relative;
}

.news-item-text2 {
  padding-left: 33px;
}

.news-item-text1::after {
  content: "";
  width: 1px;
  height: 14px;
  position: absolute;
  background-color: #b9b8b8;
  top: 13px;
  left: 101px;
}

.news-item {
  position: relative;
  cursor: pointer;
}

.news-item::after {
  content: "12 Feb";
  width: 38px;
  position: absolute;
  height: 52px;
  background: #203e38;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  padding: 8px 16px;
  color: #ffffff;
  top: 0px;
  right: 0px;
}

.news-item:hover.news-item::after {
  background-color: #18cfab;
}

.news-item:hover .news-item-title {
  color: #18cfab;
}

.opinion {
  background-image: url(/imgs/opinion-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 923px;
}

.slider {
  padding-bottom: 100px;
  position: relative;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.user-avatar {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 9px solid rgb(31, 218, 181, 0.2);
  width: 143px;
  height: 143px;
  margin-bottom: 56px;
}

.name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
}

.profession {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #bbbbbb;
  text-align: center;
  margin-bottom: 38px;
}

.slider-pseudo {
  display: block;
  margin: 0 auto;
  margin-bottom: 36px;
}

.slider-title {
  font-family: "Montserrat";
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  padding-top: 99px;
  padding-bottom: 99px;
}

.slider-title::before {
  content: "";
  width: 80px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  top: 156px;
  left: 536px;
}

.slider-title::after {
  content: "";
  width: 80px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  top: 161px;
  left: 550px;
}

.slider-text-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #bbbbbb;
  margin-bottom: 37px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  background: none;
  border: 1px solid #bbbbbb;
  font-size: 0px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}

.slick-arrow:hover {
  background-color: #18cfab;
}

.slick-next {
  right: 333px;
  top: 445px;
}

.slick-prev {
  left: 333px;
  top: 445px;
}

.slick-prev::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  top: 8px;
  left: 12px;
  transform: rotate(45deg);
}

.slick-next::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  top: 8px;
  left: 6px;
  transform: rotate(45deg);
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slick-dots li {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid rgb(31, 218, 181, 0.2);
}

.slick-dots button {
  display: none;
}

.slick-dots li:nth-child(1) {
  position: relative;
}

.slick-dots li:nth-child(1)::after {
  content: "";
  background-image: url(/imgs/user1s.png);
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  left: 0;
  top: 0;
}
.slick-dots li:nth-child(2) {
  margin-left: 35px;
  position: relative;
}

.slick-dots li:nth-child(2)::after {
  content: "";
  background-image: url(/imgs/user2s.png);
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  left: 0;
  top: 0;
}

.slick-dots li:nth-child(3) {
  margin-left: 35px;
  position: relative;
}

.slick-dots li:nth-child(3)::after {
  content: "";
  background-image: url(/imgs/user3s.png);
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  left: 0;
  top: 0;
}

.slick-dots li:nth-child(4) {
  margin-left: 35px;
  position: relative;
}

.slick-dots li:nth-child(4)::after {
  content: "";
  background-image: url(/imgs/user4s.png);
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  left: 0;
  top: 0;
}

.slick-dots .slick-active {
  margin-bottom: 30px;
}

footer {
  padding: 47px;
  background-color: #22353f;
}

.footer-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #aeaeae;
  position: relative;
}

.logo-in-footer {
  color: #18cfab;
  margin-left: 5px;
  margin-right: 10px;
}

.footer-text::after {
  content: "";
  background-color: #aeaeae;
  width: 1px;
  height: 12px;
  position: absolute;
  top: 7px;
  right: 556px;
}
