@media screen and (max-width: 1350px) {
  .main-items {
    grid-template-columns: 100%;
    align-items: center;
  }

  .inst-img:last-child {
    display: none;
  }

  .inst-img {
    max-width: 250px;
  }

  .inst-galery {
    width: auto;
    @include padding80;
  }

  .title-center {
    width: auto;
    @include padding80;
  }
}

@media screen and (max-width: 940px) {
  .inst-img:nth-of-type(3) {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .nav-bar {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}

@media screen and (max-width: 740px) {
  .main-item {
    display: block;
  }
  .main-item:last-child {
    display: none;
  }
  .main-item-text {
    margin-left: 0;
  }
  .main-item-description {
    display: none;
  }
  .footer-text:nth-of-type(2) {
    display: none;
  }
  .footer-content {
    padding-left: 40px;
    padding-right: 40px;
  }
  .conect {
    display: block;
    margin: 0;
    text-align: center;
  }
  .conect:first-child:after {
    left: 200px;
    top: 25px;
  }
  .conect:first-child:before {
    top: 1px;
    left: 227px;
  }
}

@media screen and (max-width: 680px) {
  .inst-img:nth-of-type(2) {
    display: none;
  }
  .inst-link {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .menu-btn {
    right: 26px;
  }
  .nav-menu {
    right: 16px;
  }
  .main-items {
    padding-left: 25px;
  }
  .title-center {
    padding-left: 25px;
  }
  .inst-galery {
    padding: 0px 0px 0px 25px;
  }
  .inst-bgc {
    background-color: #fff;
  }
}
