@mixin font-style400 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

@mixin center {
  width: 1170px;
  margin: 0 auto;
}

@mixin padding80 {
  padding-left: 80px;
  padding-right: 80px;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
