@import "./variables";
@import "./mixins";
@import "./reset";

body {
  font-family: $font, sans-serif;
}
header {
  margin-top: 45px;
  position: relative;
  @include padding80;
}

.nav-bar {
  display: flex;
  justify-content: center;
  margin: -25px;
}

.nav-menu {
  position: absolute;
  top: 14px;
  right: 79px;
  background-color: #f5f5f5;
  min-width: 182px;
  display: none;
}

.menu-btn {
  width: 44px;
  height: 37px;
  background-color: #000;
  background-image: url(/images/nav-bar-btn2.png);
  margin-left: 28px;
  position: absolute;
  right: 80px;
  top: -23px;
  display: none;
  cursor: pointer;
}

.menu-btn.active {
  background-image: url(/images/nav-bar-btn.png);
}

.nav-menu.active-menu {
  display: block;
}

.nav-menu-item {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
  text-transform: uppercase;
  color: $title-color;
  cursor: pointer;
  width: calc(100% - 12px);
  padding-left: 12px;
}

.nav-menu-item:hover {
  color: $hover-color;
  background-color: #e5e5e5;
}

.nav-bar-item {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  margin: 25px;
  text-transform: uppercase;
  color: $title-color;
  cursor: pointer;
}

.nav-bar-item:hover {
  color: $hover-color;
}

.main-img {
  max-width: 100%;
  height: auto;
  min-width: 270px;
  margin-top: 51px;
}

.header {
  @include flexColumn;
  justify-content: center;
  align-items: center;
}

.title-center {
  @include center;
}

.title {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $title-color;
  margin-top: 56px;
  margin-bottom: 24px;
}

.main-items {
  @include center;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 32px;
  margin-bottom: 69px;
  @include padding80;
}

.main-item {
  display: flex;
}

.main-item-text {
  @include flexColumn;
  margin-left: 21px;
}

.main-item-img {
  max-width: 160px;
  min-height: 140px;
}

.main-item-title {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $title-color;
  margin: 0px;
}

.main-item-info {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #7c7c7c;
}

.main-item-description {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
  margin-top: 6px;
}

.inst-galery {
  display: flex;
  justify-content: space-between;
  @include center;
  margin-top: 47px;
  margin-bottom: 24px;
}

.inst-title {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $title-color;
}

.inst-link {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: $title-color;
}

.inst-imgs {
  display: flex;
  justify-content: center;
  @include padding80;
  column-gap: 5px;
}

.inst-img {
  max-width: 300px;
}

.inst-bgc {
  display: inline-block;
  width: 100%;
  background: #f7f7f7;
  padding-bottom: 50px;
}

.footer-content {
  background: #000;
  @include flexColumn;
  align-items: center;
  padding-bottom: 70px;
}

.footer-title {
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fefefe;
  margin: 66px 0px 22px;
}

.footer-text {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $footer-text-color;
}

.icons {
  display: flex;
  column-gap: 6px;
  margin: 37px 0px 34px;
}

.conect {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $footer-text-color;
  margin: 15px;
  position: relative;
}

.conect:first-child:after,
.conect:first-child:before {
  content: "/";
  position: absolute;
  color: $footer-text-color;
  left: 421px;
  top: -3px;
}

.conect:first-child:before {
  left: 230px;
}

.footer-text-wrap {
  max-width: 684px;
  text-align: center;
  min-width: 303px;
  margin-left: 35px;
  margin-right: 35px;
}

@import "./medias";
