.bg {
  padding: 30px;
  min-height: 100vh;
  background: rgb(179, 255, 175);
  background: linear-gradient(
    90deg,
    rgba(179, 255, 175, 1) 0%,
    rgba(255, 252, 142, 1) 51%,
    rgba(162, 240, 255, 1) 100%
  );
}

.container-header {
  display: flex;
  justify-content: space-between;
  background: white;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 13px -1px rgba(195, 195, 195, 1);
}

.logo {
  margin-left: 10px;
  cursor: pointer;
}

.cards-desk {
  display: block;
  background: white;
  flex-direction: row;
  margin: 30px auto;
  max-width: 1200px;
  padding: 20px;
  border-radius: 10px;
  min-height: 500px;
  box-shadow: 0px 0px 13px -1px rgba(195, 195, 195, 1);
}

.card {
  border: 1px solid #e2e2e2;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin: 10px;
}

.card:hover {
  box-shadow: 0px 0px 11px -1px rgba(120, 237, 83, 1);
}

.btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal-backdrop {
  opacity: 0.5;
}

.modal-input {
  display: none;
}

.hidden {
  display: none;
}

select,
input,
textarea {
  margin-bottom: 15px;
}

.modal-title {
  color: #198754;
}

.modal-header .btn-close {
  margin: 5px 5px 0 0;
}

.card-btn {
  margin-top: 15px;
}

.firstcard {
  display: inline-block;
  border: 1px red solid;
}

.hidden {
  display: none;
}

.edit,
.save {
  color: rgba(120, 237, 83, 1);
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 40px;
}

.no-token-info {
  color: #198754;
  display: block;
  width: 700px;
  margin: 100px auto;
}

.btn-group {
  height: 55px;
  padding-top: 13px;
}

.no-valid {
  color: red;
  padding-bottom: 5px;
}

.no-items {
  color: #198754;
}
