body {
  background-color: rgba(255, 206, 206, 0.8);
  font-family: sans-serif;
}

.card {
  display: flex;
  width: 800px;
  background-color: rgba(235, 255, 206, 0.8);
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0px 0px 8px 8px rgb(0 0 0 / 50%);
  position: relative;
  padding: 30px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(179, 246, 255, 0.8);
  box-shadow: 0px 1px 6px 2px rgb(0 0 0 / 50%);
  border: none;
  border-radius: 25%;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

h3 {
  text-transform: uppercase;
  text-align: center;
}

p {
  width: 500px;
  text-align: center;
}

a {
  cursor: pointer;
}
